html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

body {
    margin: 0;
    padding-top: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

div {
    border: 0px solid blue;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 94%;
    max-width: 1100px;
}


#header {
    width: 100%;
    height: 40px;
    background-color: #027FAA;
    color: white;
    padding-top: 20px;
}

#header .container {
    display: flex;
    justify-content: space-between;
}

#header span {
    color: white;
}

#header a {
    color: white;
    text-decoration: none;
}

#header h1 {
    text-transform: uppercase;
    font-size: 1.2em;
}

#nav {}

#nav span {
    margin: auto 1rem;
    align-items: flex-end;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid #014e69;
    padding: 5px;
    text-decoration: none;
}

#small-nav {
    display: none;
}

.header a:hover {
    background-color: #014e69;
}

@media only screen and (max-width: 930px) {
    #nav {
        display: none;
    }

    #small-nav {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        width: 50%;
    }

    #header .container {
        flex-direction: column;
    }

    #logo {
        justify-content: center;
    }

    #small-nav span {
        margin-top: 5px;
        margin: 10px;
        border-radius: 5px;
        border: 3px solid #014e69;
        padding: 5px;
    }

    #header h1 a {
        color: white;
    }

    #header a {
        color: black;
    }

    .header a:hover {
        background-color: #00ace8;
    }
}
